{% extends "basehome.html" %}
 
{% block title %}Home{% endblock %}
 
{% block body %}
    <div class="container-fluid mt-2 mb-2">
        <div class="col-20">
            <h1>Data Donasi COVID-19</h1>
        </div>
    </div>
    <div class="container-fluid mt-2 mb-2">
        <a class="btn btn-primary btn-sm"" href="../public/sumbangan/index" role="button">Donasikan Sekarang</a><br></br>
        <p>Untuk melihat data donasi yang telah terinput, klik <br><a href="../public/jenis">List Data</a></p>
    </div>

 
{% endblock %}
